<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav-bar">
    <nav class="navbar">
        <h2 id="title">CodeFellowship</h2>
        <div class="login dropdown">
            <h2>Login</h2>
            <i class="fas fa-caret-down"></i>
            <div class="dropdown-content">
                <form>
                    <div class="containers">
                        <label><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                        <span class="forgot-password">I forgot my <a href="#">password.</a></span>

                        <button type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                        <br>
                    </div>

                    <div class="containers">
                        <span class="signup"> New? <a th:href="@{/register}">Sign Up!</a></span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
